<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="kafkaProducer"
        type="Kafka.Client.Cfg.ProducerConfigurationSection, Kafka.Client" />

    <section name="kafkaProducer3"
        type="Kafka.Client.Cfg.ProducerConfigurationSection, Kafka.Client" />

  </configSections>

      <kafkaProducer type="Sync">
        <zookeeper>
          <servers>
            <add host="192.168.1.39" port="2181" />
          </servers>
        </zookeeper>
      </kafkaProducer>
      <kafkaProducer3 type="Sync">
        <brokers>
          <add id="0" host="192.168.1.39" port="9092" />
          <add id="1" host="192.168.1.39" port="9101" />
          <add id="2" host="192.168.1.39" port="9102" />
        </brokers>
      </kafkaProducer3>
    </configuration>