<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="kafkaProducer"
        type="Kafka.Client.Cfg.Sections.ProducerConfigurationSection, Kafka.Client" />

    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />

    <section name="kafkaProducerSync"
        type="Kafka.Client.Cfg.Sections.ProducerConfigurationSection, Kafka.Client" />

    <section name="kafkaProducerAsync"
       type="Kafka.Client.Cfg.Sections.ProducerConfigurationSection, Kafka.Client" />


    <section name="kafkaProducerSyncString"
        type="Kafka.Client.Cfg.Sections.ProducerConfigurationSection, Kafka.Client" />

  </configSections>

  <appSettings>
    <add key="KafkaInstallationDir" value="C:\workspaces\kafka\kafka_2.10-0.8.1.1\"/>
    <add key="JavaExec" value="java" />
  </appSettings>

      <kafkaProducer type="Sync">
        <zookeeper>
          <servers>
            <add host="192.168.1.39" port="2181" />
          </servers>
        </zookeeper>
      </kafkaProducer>

      <kafkaProducerAsync type="Async" requestRequiredAcks="1">
        <brokers>
          <add id="0" host="mi.ais.pl" port="9092" />
        </brokers>
      </kafkaProducerAsync>
      <kafkaProducerSync type="Sync" requestRequiredAcks="1">
        <brokers>
          <add id="0" host="mi.ais.pl" port="9092" />
        </brokers>
      </kafkaProducerSync>

      <kafkaProducerSyncString type="Sync" serializer="Kafka.Client.Serializers.StringEncoder" keySerializer="Kafka.Client.Serializers.StringEncoder">
        <brokers>
          <add id="0" host="mi.ais.pl" port="9092" />
        </brokers>
      </kafkaProducerSyncString>

  <log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="ConsoleAppender" />
    </root>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5level - %message - %logger%newline" />
      </layout>
    </appender>
  </log4net>

</configuration>