<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="kafkaProducer"
        type="Kafka.Client.Cfg.ProducerConfigurationSection, Kafka.Client" />

  </configSections>

      <kafkaProducer type="Sync">

        <zookeeper>
          <servers>
            <add host="192.168.1.39" port="2181" />
          </servers>
        </zookeeper>
      </kafkaProducer>
    </configuration>