<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="kafkaProducer"
        type="Kafka.Client.Cfg.ProducerConfigurationSection, Kafka.Client" />
    <section name="kafkaProducer2"
        type="Kafka.Client.Cfg.ProducerConfigurationSection, Kafka.Client" />
    <section name="kafkaProducer3"
        type="Kafka.Client.Cfg.ProducerConfigurationSection, Kafka.Client" />
    <section name="kafkaConsumer1"
        type="Kafka.Client.Cfg.ConsumerConfigurationSection, Kafka.Client" />
    <section name="kafkaConsumer2"
        type="Kafka.Client.Cfg.ConsumerConfigurationSection, Kafka.Client" />
    <section name="kafkaConsumer3"
        type="Kafka.Client.Cfg.ConsumerConfigurationSection, Kafka.Client" />
    <section name="kafkaConsumer4"
        type="Kafka.Client.Cfg.ConsumerConfigurationSection, Kafka.Client" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <kafkaProducer type="Sync">
    <brokers>
      <add id="0" host="192.168.1.39" port="9092" />
      <add id="1" host="192.168.1.39" port="9101" />
      <add id="2" host="192.168.1.39" port="9102" />
    </brokers>
  </kafkaProducer>
  <kafkaProducer2 type="Sync">
    <zookeeper>
      <servers>
        <add host="192.168.1.39" port="2181" />
      </servers>
    </zookeeper>
  </kafkaProducer2>
  <kafkaProducer3 type="Async">
    <brokers>
      <add id="0" host="192.168.1.39" port="9092" />
      <add id="1" host="192.168.1.39" port="9101" />
      <add id="2" host="192.168.1.39" port="9102" />
    </brokers>
  </kafkaProducer3>

  <kafkaConsumer1 groupId="group1" timeout="5000">
    <broker id="0" host="192.168.1.39" port="9092" />
  </kafkaConsumer1>
  <kafkaConsumer2 groupId="group1" timeout="5000">
    <broker id="0" host="192.168.1.39" port="9101" />
  </kafkaConsumer2>
  <kafkaConsumer3 groupId="group1" timeout="5000">
    <broker id="0" host="192.168.1.39" port="9102" />
  </kafkaConsumer3>
  <kafkaConsumer4 groupId="group1" timeout="5000">
    <zookeeper>
      <servers>
        <add host="192.168.1.39" port="2181" />
      </servers>
    </zookeeper>
  </kafkaConsumer4>

  <log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="ConsoleAppender" />
      <appender-ref ref="KafkaFileAppender" />
      <appender-ref ref="ZookeeperFileAppender" />
    </root>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5level - %message - %logger%newline" />
      </layout>
    </appender>
    <appender name="KafkaFileAppender" type="log4net.Appender.FileAppender">
      <filter type="log4net.Filter.LoggerMatchFilter">
        <LoggerToMatch value="Kafka.Client."/>
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
      <file value="kafka-logs.txt" />
      <appendToFile value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%-5level] - [%logger] - %message%newline" />
      </layout>
    </appender>
    <appender name="ZookeeperFileAppender" type="log4net.Appender.FileAppender">
      <filter type="log4net.Filter.LoggerMatchFilter">
        <LoggerToMatch value="ZooKeeperNet."/>
      </filter>
      <filter type="log4net.Filter.LoggerMatchFilter">
        <LoggerToMatch value="Org.Apache.Zookeeper.Data."/>
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
      <file value="zookeeper-logs.txt" />
      <appendToFile value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%-5level] - [%logger] - %message%newline" />
      </layout>
    </appender>
  </log4net>
</configuration>